@import "vars";

@media only screen
and (max-device-width : 991px) {
  .main-slider {
    &_item-description {
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

}
@media only screen
and (max-device-width : 480px) {
  .main-slider {
    &_controls {
      font-size: 20px;
      top: 45%;
    }
  }
}