@import "vars";

@media only screen
and (min-device-width : 1190px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 7%;
  }
}

@media only screen
and (min-device-width : 1166px)
and (max-device-width : 1189px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 8%;
  }
}

@media only screen
and (min-device-width : 1144px)
and (max-device-width : 1165px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 7%;
  }
}

@media only screen
and (min-device-width : 1120px)
and (max-device-width : 1143px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 6%;
  }
}

@media only screen
and (min-device-width : 1096px)
and (max-device-width : 1119px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 5%;
  }
}

@media only screen
and (min-device-width : 1072px)
and (max-device-width : 1195px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 4%;
  }
}

@media only screen
and (min-device-width : 1048px)
and (max-device-width : 1171px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 4%;
  }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1147px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 3%;
  }
}

@media only screen
and (max-device-width : 1023px) {
  .footer-sides:after,
  .footer-sides:before,
  .top-sides:after,
  .top-sides:before {
    width: 2%;
  }
}

@media only screen
and (max-device-width : 1199px) {
  .main-nav {
    width: 100%;
    .navbar-toggle {
      &:focus,
      &:hover {
        border: none;
        background: $custom-red;
        .icon-bar {
          background: #fff;
        }
      }
    }
  }
  #main-nav {
    position: absolute;
    z-index: 100;
    padding-right: 5px;
    right: 0;
    margin: 0 -2px 0 0;
    background: url('../img/main-bg.png') no-repeat center;
    width: 100%;
    border: none;
    .navbar-nav {
      margin: 0;
      border: none;
      box-shadow: none;
      a {
        text-align: right;
        padding: 10px 0;
      }
    }
  }
}

@media only screen
and (max-device-width : 991px) {
  .main-slider {
    &_item-description {
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
    }
  }
  .features {
    margin-bottom: 30px;
    &-item {
      margin-bottom: 15px;
    }
  }
  .works {
    margin-bottom: 28px;
    &-item {
      margin-bottom: 20px;
    }
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

}
@media only screen
and (max-device-width : 480px) {
  .main-slider {
    margin-bottom: 0;
    &_controls {
      font-size: 20px;
      top: 45%;
    }
  }
  .main-slider_nav {
    display: none;
  }
  .main-footer .footer-info {
    padding: 10px 15px;
  }
  /*about*/
  .about-content_main-img {
    float: none;
    width: 70%;
    margin: 0 auto 15px;
  }
  .about-content .about-quote {
    font-size: 14px;
    margin-left: 30px;
  }
  /*blog*/
  .blog-section {
    padding-left: 0;
    &_icon {
      display: none;
    }
  }
  .blog-section_pic > div,
  .blog-section_pic > iframe,
  .blog-section_pic > video,
  .blog-section_pic > img {
    max-height: 125px;
  }
  /*portfolio*/
  .portfolio-content_filter {
    text-align: center;
    button {
      font-size: 12px;
      padding: 0 5px ;
    }
  }
  
}