@import "vars";

/* Portfolio page */
.portfolio-content {
  &_filter {
    margin-bottom: 35px;
    ul {
      font-size: 0;
    }
    li {
      display: inline-block;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      display: block;
      border: none;
      outline: none;
      font-family: $accent-font;
      background: transparent;
      line-height: 30px;
      padding: 0 10px;
      color: $gray-txt;
      font-size: 14px;
      &.active-button,
      &:hover {
        color: $main-txt;
        background: $custom-red;
      }
    }
  }
  &_item {
    margin-bottom: 40px;
  }
  &_item.block-hidden {
    opacity: .5;
    .works-item {
      cursor: default;
    }
    .works_hover-link {
      display: none;
    }
  }
}

/* Item page */
.portfolio-item {
  margin-bottom: 50px;
  &_img {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  &_description p {
    font-size: 12px;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}