/*colors*/
$main-txt: #fff;
$dark-txt: #414141;
$gray-txt: #b9b9b9;
$custom-red: #e8663c;
$custom-pink: #f3b29d;

/*fonts*/
$normal-font: "HelveticaNeue", sans-serif;
$accent-font: "Bebas", sans-serif;

