doctype
html(lang="en")
  head
    meta(charset="utf-8")
    block title
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1", maximum-scale="1")
    link(rel="stylesheet", href="css/fonts.min.css")
    link(rel="stylesheet", href="css/main.min.css")
  body
    header.main-header
      div.container
        div.row
          div.col-md-2.col-sm-6.col-xs-6
            div.logo
              a(href="#")
                img(src="img/logo.png")
          div.col-md-10.col-sm-6.col-xs-6
            nav.main-nav.navbar.navbar-default.pull-right
              div.container-fluid
                div.navbar-header
                  button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#main-nav", aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div.collapse.navbar-collapse#main-nav
                  ul.nav.navbar-nav
                    - navList = ['Home', 'About us', 'Blog', 'Portfolio', 'Contact us']
                      each item in navList
                        li
                          a(href="#")= item
    block content
    footer.main-footer
      div.container
        div.row
          .footer-wrapper.clearfix
            div.col-md-4.col-sm-4.col-xs-12
              div.footer-info
                div.footer-info_heading.text-uppercase About Jetro
                p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
                p Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
            div.col-md-4.col-sm-4.col-xs-12
              div.footer-info
                div.footer-info_heading.text-uppercase Twitter widget
                p
                  span @pixelmater
                  | &nbsp;What an awesome design with great functionality :)
                p
                  span about 1 hour ago
                p
                  span @designdude
                  | &nbsp;What an awesome design with great functionality :)
                p
                  span about 2 hour ago
                p
                  | Follow
                  span &nbsp;@bestpsdfreebies
            div.col-md-4.col-sm-12.col-xs-12
              div.footer-info.footer-contacts
                div.footer-info_heading.text-uppercase Contact us
                p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri.
                p
                  a(href="mailto:information@jetro.com") information@jetro.com
                  a(href="tel:12223334444") 1.222.333.4444
                ul.list-unstyled.footer-social
                  - footerSocial = ['footer-social-fb', 'footer-social-tw', 'footer-social-mail', 'footer-social-rss', 'footer-social-vm']
                    each item in footerSocial
                      li
                        a(href="#", class=item)
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(type="text/javascript", src="bower_components/slick-carousel/slick/slick.min.js")
  script(type="text/javascript", src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="js/common.js")
