extends base
block title
  title Contact
block page-heading
  - thisHeading = "Contact us"
  include includes/page-heading
block content
  .container
    .row
      .col-md-9.col-sm-8.col-xs-12
        .contact-map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84007.13137412073!2d37.54440090010481!3d48.85396063866973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df9acd5520fccd%3A0xdf8f2b8784d27762!2z0KHQu9Cw0LLRj9C90YHQuiwg0JTQvtC90LXRhtC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1477242540862", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
        .row.contact-data
          .col-md-4.col-sm-4.col-xs-12
            p.contact-data_info Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.
            .contact-data_address
              p.contact-data_address-title Best PSD Freebies
              p 328 Ave C
              p Saskatoon, SK
              p S7R 2V9
            .contact-data_links
              a(href="tel:8888428356")
                span t:
                | (888) 842 - 8356
              a(href="tel:8884529257")
                span f:
                | (888) 452 - 9257
              a(href="mailto:info@psdfreebies.com")
                span e:
                | info@psdfreebies.com
          .col-md-8.col-sm-8.col-xs-12
            form.contact-data_form
              input(class="contact-data_form-field" type="text", placeholder="First name")
              input(class="contact-data_form-field" type="text", placeholder="Last name")
              input(class="contact-data_form-field" type="text", placeholder="Email address")
              textarea(class="contact-data_form-textarea" rows="6", placeholder="Message")
              input(class="contact-data_form-submit" type="submit" value="Submit")

      include includes/sidebar