@font-face {
  font-family: 'HelveticaNeue-LightItalic';
  src: url('HelveticaNeue-LightItalic.woff') format('woff'),
       url('HelveticaNeue-LightItalic.ttf') format('truetype'),
       url('HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src: url('HelveticaNeueLightItalic.eot');
  src: url('HelveticaNeueLightItalic.woff2') format('woff2'),
       url('HelveticaNeueLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

